@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --text: #0c0b1e;
    --background: #f3f3fb;
    --primary: #1c1b7e;
    --secondary: #6c6cea;
    --accent: #0f0fd7;
  }
@media (prefers-color-scheme: dark) {
  :root {
  --text: #e3e2f4;
    --background: #04040d;
    --primary: #8281e4;
    --secondary: #161595;
    --accent: #2b2af0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
